<!-- ====== start footer ====== -->
<footer class="footer-style1">
    <div class="container">
        <div class="content">
            <div class="row gx-lg-5">
                <div class="col-lg-4">
                    <div class="info">
                        <div class="foot-logo">
                            <img
                                src="/assets/img/digital-ai-journal-high-resolution-logo .png"

                               
                                alt=" "
                                class="dark-none"
                            />
                            <img
                                src="/assets/img/digital-ai-journal-high-resolution-logo-white .png"
                                alt=""
                                class="light-none"
                            />
                        </div>
                        {{!  
                        <div class="data-info">
                            <p>
                                <b>Operated by : </b>
                                <br />
                                Open Infotech
                            </p>
                            <p>
                                <b> Tax Code: </b>
                                <br />
                                0123456789
                            </p>
                            <p>
                                <b> Address: </b>
                                <br />
                                201, Bhumkar Chowk, Wakad
                                <br />
                                Pune 411052, Maharashtra
                            </p>
                            <p>
                                <b> Email : </b>
                                <br />
                                support@openinfotech.com
                            </p>
                            <p>
                                <b> Phone : </b>
                                <br />
                                (+91) 88883 98350
                            </p> }}
                        {{! </div> }}

                        {{! <div class="social-links">
                            <a href="#">
                                <i class="la la-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="la la-facebook-f"></i>
                            </a>
                            <a href="#">
                                <i class="la la-instagram"></i>
                            </a>
                            <a href="#">
                                <i class="la la-youtube"></i>
                            </a>
                            <a href="#">
                                <i class="la la-spotify"></i>
                            </a>
                        </div> }}
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="link-group">
                        <div class="title">Industry</div>
                        <ul>
                            <li>
                                <a
                                    href="/tag/automobile /"
                                    class="f-link"
                                >Automobile</a>
                            </li>
                            <li>
                                <a
                                    href="/tag/healthcare/"
                                    class="f-link"
                                >healthcare</a>
                            </li>
                            <li>
                                <a
                                    href="/tag/fintech/"
                                    class="f-link"
                                >Fintech</a>
                            </li>

                        </ul>
                    </div>
                    {{! <div class="link-group">
                        <div class="title">Politics</div>
                        <ul>
                            <li>
                                <a href="#" class="f-link">Capital Journal</a>
                            </li>
                            <li>
                                <a href="#" class="f-link">National Security</a>
                            </li>
                            <li>
                                <a href="#" class="f-link">Politics Video</a>
                            </li>
                        </ul>
                    </div> }}
                </div>
                <div class="col-lg-2">
                    <div class="link-group">
                        <div class="title">AI Topics</div>
                        <ul>
                            <li>
                                <a
                                    href="/tag/chatbot/"
                                    class="f-link"
                                >Chatbot</a>
                            </li>

                        </ul>
                    </div>
                    {{! <div class="link-group">
                        <div class="title">Lifestyle</div>
                        <ul>
                            <li>
                                <a href="#" class="f-link">Lifestyle Trends</a>
                            </li>
                            <li>
                                <a href="#" class="f-link">Family</a>
                            </li>
                            <li>
                                <a href="#" class="f-link">Psychology</a>
                            </li>
                            <li>
                                <a href="#" class="f-link">Fashion</a>
                            </li>
                            <li>
                                <a href="#" class="f-link">Foods</a>
                            </li>
                            <li>
                                <a href="#" class="f-link">Culture</a>
                            </li>
                        </ul>
                    </div> }}
                </div>
                <div class="col-lg-2">
                    <div class="link-group">
                        <div class="title">Help Center</div>
                        <ul>

                            <li>
                                <a
                                    href="/contact-us/"
                                    class="f-link"
                                >Contact</a>
                            </li>

                            <li>
                                <a href="#" class="f-link">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#" class="f-link">Term & Conditions</a>
                            </li>
                        </ul>
                    </div>
                    {{! <div class="link-group">
                        <div class="title">Sport</div>
                        <ul>
                            <li>
                                <a href="#" class="f-link">Football</a>
                            </li>
                            <li>
                                <a href="#" class="f-link">Tennis</a>
                            </li>
                            <li>
                                <a href="#" class="f-link">F-1 Racing Tour</a>
                            </li>
                            <li>
                                <a href="#" class="f-link">NBA</a>
                            </li>
                            <li>
                                <a href="#" class="f-link">Basketball</a>
                            </li>
                        </ul>
                    </div> }}
                </div>
                <div class="col-lg-2">
                    {{! <div class="link-group">
                        <div class="title">Travel</div>
                        <ul>
                            <li>
                                <a href="#" class="f-link">Discovery</a>
                            </li>
                            <li>
                                <a href="#" class="f-link">Flight Tickets &
                                    Hotel</a>
                            </li>
                            <li>
                                <a href="#" class="f-link">Tour</a>
                            </li>
                            <li>
                                <a href="#" class="f-link">Destination</a>
                            </li>
                            <li>
                                <a href="#" class="f-link">Experience & Reviews</a>
                            </li>
                        </ul>
                    </div> }}
                    {{! <div class="link-group">
                        <div class="title">Help Center</div>
                        <ul>
                            <li>
                                <a href="#" class="f-link">About Us</a>
                            </li>
                            <li>
                                <a href="#" class="f-link">Contact</a>
                            </li>

                            <li>
                                <a href="#" class="f-link">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#" class="f-link">Term & Conditions</a>
                            </li>
                        </ul>
                    </div> }}
                </div>
            </div>
        </div>

        <div class="foot text-center py-4 border-1 border-top brd-gray">
            <p class="fsz-13px color-666">© 2024 Copyrights by
                <a href="{{url}}" class="color-000">digital-ai-journal</a>. All
                Rights Reserved. Developed by<p
                    class="color-000 text-decoration-underline"
                >openinfotech</p></p>
        </div>
    </div>
    <!-- ====== start to top button ====== -->
    <a href="#" class="to_top color-main">
        <i class="la la-angle-up"></i>
    </a>
    <!-- ====== end to top button ====== -->
</footer>
<!-- ====== end footer ====== -->