<div class="tc-stock-card mb-50 border">
    <a href="#" class="stock-card-title">
        Top Crypto Currency
        <span class="la la-arrow-circle-o-right color-666"></span>
    </a>
    <div class="stock-card-body p-10 ps-20 pe-20">
        <div id="cryptoContainer">
        </div>
    </div>
</div>

<div class="tc-post-grid-default bg-gray2">
    <div class="item">
        {{! <div class="img img-cover th-200">
            <img src="assets/img/icons/26.jpg" alt="" />
        </div>
        <div class="content py-4 px-3 bg-gray2">
            <p class="color-main fsz-13px text-uppercase mb-1">The Next Decade
                of AI: Predictions and Possibilities</p>
            <h4 class="title ltspc--1">
                <a href=""></a>
            </h4>
            <a
                href="https://www.helloleads.io/blog/all/technology-and-tips/5-ai-predictions-for-next-decade/"
                class="color-999 fsz-12px mt-20"
            >
                5 AI Predictions For Next Decade

                <i class="la la-external-link-square-alt"></i></a>
        </div> }}

        <!-- Inside your theme's template file, e.g., default.hbs -->
        <div class="tc-stock-card mb-50 border">
            <a href="#" class="stock-card-title">
                Top Crypto Currency
                <span class="la la-arrow-circle-o-right color-666"></span>
            </a>
            <div class="stock-card-body p-10 ps-20 pe-20">
                <div id="cryptoContainer">
                </div>
            </div>
        </div>

    </div>

    {{! <div class="item">
        <div class="img img-cover th-200">
            <img src="assets/img/icons/25.jpg" alt="" />
        </div>
        <div class="content py-4 px-3 bg-gray2">
            <p class="color-main fsz-13px text-uppercase mb-1">Future Minds AI:
                Innovations Unleashed</p>
            <h4 class="title ltspc--1">
                <a href=""></a>
            </h4>

        </div>
    </div> }}

</div>