{{#get "tags" limit="12"}}
    <div class="hot-trends-tabs-style1 mb-4 mt-4">
        <p class="color-999 text-uppercase ltspc-1 flex-shrink-0 me-4 pt-1">
            <i class="ion-arrow-graph-up-right me-2"></i>
            hot trends
        </p>
        <div class="links">
            {{#foreach tags}}
                <a href="{{url}}" class="link border">{{name}}</a>
            {{/foreach}}
        </div>
    </div>
{{/get}}